:root { --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --color-primary: #2a4d69;
  --color-secondary: #4b86b4;
  --color-light: #f4f4f4;
  --color-dark: #333;
  --spacing: 1.6rem;
  --max-width: 1200px;
   background-color: #7143a5;}
  body, html {
    font-family: "Roboto", sans-serif;
  color: #212121;
  height: 100%;
  margin: 0;
}
  
  .header {max-height: 150px;
display: flex;
justify-content: center;                     /*poziomo*/
align-items: center;                         /*pionowo*/
height: 100vh;                               /*wysokość całego okna*/
   
  }
  .header_logo {
    max-height: 300px;
    padding-top: 200px;
}                      
       
 